CRAFT_APP_ID=###
CRAFT_DB_DATABASE=default
CRAFT_DB_DRIVER=mysql
CRAFT_DB_PASSWORD= # <normal_user_password>
CRAFT_DB_PORT=3306
CRAFT_DB_SCHEMA=public
CRAFT_DB_SERVER= # get the server from the coolify mariadb service url
CRAFT_DB_TABLE_PREFIX=
CRAFT_DB_USER= # <normal_user> – usually mariadb
CRAFT_ENVIRONMENT=production
CRAFT_SECURITY_KEY=###

CRAFT_FRONTEND_URL=https://starter.plcd.nl # the frontend url
CRAFT_BACKEND_URL=${SERVICE_URL_WEB}

SERVICE_URL_WEB=https://dev-starter.plcd.nl
SERVICE_FQDN_WEB=dev-starter.plcd.nl