# Read about configuration, here:
# https://craftcms.com/docs/5.x/configure.html

# REMEMBER ALL DEV / STAGING / PRODUCTION ENV BEFORE

# CRAFT_ALLOW_ADMIN_CHANGES=false
# CRAFT_APP_ID=
# CRAFT_DB_DATABASE=db
# CRAFT_DB_DRIVER=mysql
# CRAFT_DB_PASSWORD=db
# CRAFT_DB_PORT=3306
# CRAFT_DB_SCHEMA=
# CRAFT_DB_SERVER=db
# CRAFT_DB_TABLE_PREFIX=
# CRAFT_DB_USER=db
# CRAFT_DEV_MODE=false
# CRAFT_DISALLOW_ROBOTS=true
# CRAFT_ENVIRONMENT=staging
# CRAFT_SECURITY_KEY=5jeqVP_X4nXCSXeQoR0A5AsLk4f9CthT

# FES OPTIONS
CRAFT_FRONTEND_URL="https://starter.plcd.nl/" # the frontend url
CRAFT_SITE_NAME="CMS Starter"
